<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOBarcelona 2023 NUWE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Pau Sansa Verdú</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">GitHub social login implementation</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/PauSansa" class="btn btn-primary btn-lg px-4 gap-3">Go to my Github</a>>
            <a href="/getall" class="btn btn-outline-secondary btn-lg px-4">VIEW ALL USERS</a>
        </div>
    </div>
</div>
</div>
</body>
</html>